<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <title>Magic: the Gatherer</title>
</head>
<body>

    <ul>
        <li id="homeNavButton"><a id="homeNavLink" href="/">HOME</a></li>
        <li id="searchNavButton"><a id="searchNavLink" href="/search">CARD SEARCH</a></li>
        <li id="decksNavButton"><a id="decksNavLink" href="/decks">MY DECKS</a></li>

    </ul> 

    {{{body}}}
</body>
</html>