<link rel="stylesheet" href="/styles/main.css">
<h1>CREATE ACCOUNT</h1>
<form action="/register" method="POST">
<label for="username">Username: </label>
<input name="username" type="text">
<label for="password">Password: </label>
<input name="password" type="text">
<input type="submit" value="Create Account">
</form>