#createAccountButton{
    color: #70f7e7;
}

body{
    color: #C8E087;
}

a:link {
    text-decoration: none;
}
a:hover {
    color: #70f7e7;
}
a:visited {
    color: #70f7e7;
}
a {
    color: #70f7e7;
}
